
input{
	width: 30%;
	height: 30px;
} 
input[type="submit"], input[type="button"]{
	width: 30%;
}
fieldset{
	width:40%; 
	text-align: center;
	border: 1px solid black;
	padding: 20px;
}
fieldset legend{
	text-align: left;
}

label{
	display: inline-block;
	word-wrap: break-word;
	text-align: left;
	width: 40%;
}
